<div class="container-fluid">	
	<div class="row">	
		<div class="col-lg-4 col-md-6 col-sm-12 ">	
			<div class="card-deck p-3">
			  <div class="card p-0 shadow-lg col-md-12">
			    <img src="assets/group.jpg" class="card-img-top">
			    <div class="card-body">
			      <h5 class="card-title">Groups and instructors</h5>
			      <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Obcaecati, facere voluptas quo iure aperiam inventore excepturi est ullam enim sequi.</p>
			    </div>
			    <div class="card-footer">
			      <small class="text-muted">Last updated 3 mins ago</small>
			    </div>
			  </div>
			</div>  
		</div>
		<div class="col-lg-4 col-md-6 col-sm-12">
			<div class="card-deck p-3">	  
			  <div class="card p-0 shadow-lg col-md-12">
			    <img src="assets/heli.jpg" class="card-img-top" alt="...">
			    <div class="card-body">
			      <h5 class="card-title">Equipment</h5>
			      <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Natus fugiat vitae doloremque laudantium accusamus nisi animi porro illo, modi corporis!</p>
			    </div>
			    <div class="card-footer">
			      <small class="text-muted">Last updated 3 mins ago</small>
			    </div>
			  </div>
			</div>
		</div>
		<div class="col-lg-4 col-md-6 col-sm-12">
			<div class="card-deck p-3">
			  <div class="card p-0 shadow-lg col-md-12">
			    <img src="assets/jump.jpg" class="card-img-top" alt="...">
			    <div class="card-body">
			      <h5 class="card-title">Latest destination - Siberia</h5>
			      <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nisi cum repellendus dolorum perspiciatis beatae iste, in, fugit! Odit, accusamus, earum.</p>
			    </div>
			    <div class="card-footer">
			      <small class="text-muted">Last updated 3 mins ago</small>
			    </div>
			  </div>
			</div>
		</div>		
</div>