<form class="form-inline">
        <input name="searchInput" class="form-control" placeholder="Search" #searchInput="ngModel" [(ngModel)]="searchText" style="width: 80%;">
        <button class="btn btn-outline-primary" (click)="searchText=''">x</button>
</form>
<table class="table table-sm">
        <thead>
                <th>City</th>
                <th>Price</th>
                <th>Date</th>
                <!-- <th>Location</th> -->
        </thead>
        <ng-container *ngFor="let travels of travelsArray">
                <tr class="table-dark" *ngIf="filterCondition(travels)">
                        <td>{{travels.fullName}}</td>
                        <td>{{travels.email}}</td>
                        <td>{{travels.mobile}}</td>
                        <!-- <td>{{travels.location}}</td> -->
                        <td>
                                <button class="btn btn-info" (click)="travelsService.populateForm(travels)">Edit
                                </button>
                                <button class="btn btn-danger" (click)="onDelete(travels.$key)">Delete</button>
                        </td>
                </tr>
        </ng-container>
</table>
<div class="alert alert-danger" *ngIf="showDeletedMessage">Deleted successfully</div> 
